<!-- <div class="form">
    <p style="color: rgb(118, 118, 255);">{{register}}</p>
    <label for="">FirstName:</label>
    <input class="form-control" [(ngModel)]="newUser.fname" type="text" placeholder="Enter FirstName">
    <label for="">LastName:</label>
    <input class="form-control" [(ngModel)]="newUser.lname" type="text" placeholder="Enter LastName">
    <label for="">Email:</label>
    <div class="input-group mb-3">
        <input [(ngModel)]="newUser.email" type="text" class="form-control" placeholder="Enter Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">@gmail.com</span>
    </div>
    <label for="">Password:</label>
    <input class="form-control" [(ngModel)]="newUser.password" type="text" placeholder="Enter Password">
    <label for="">Repeat Password:</label>
    <input class="form-control" [(ngModel)]="repeatPass" type="text" placeholder="Repeat password">
    <p>{{error}}</p>
    <button (click)="addUser()">register</button>
</div> -->
<p style="color: rgb(118, 118, 255);">{{register}}</p>
<label for="">Enter Email:</label>
<input [(ngModel)]="email" type="text" placeholder="email">
<label for="">Enter Password</label>
<input [(ngModel)]="password" type="text" placeholder="password">
<p>{{error}}</p>
<a>don't have an account? <span href="" routerLink="/register">logIn</span></a>
<button (click)="addUser()">register</button>