li{
    list-style-type: none;
}
ul{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: #0b0e12;
    padding: 10px;
}
#color{
    color: gray !important;
    text-decoration: none;
}
#color:focus{
    color: white !important;
}
.active-link{
    color: gray;
}