.addq{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 20px;
    margin-bottom: 20px;
}
.wid100{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.all{
    width: 100%;
    text-align: center;
}
li{
    display: flex;
    flex-wrap: wrap;
}
input, .create{
    border-radius: 3px;
    margin: 0px !important;
}
.create{
    border: none;
    background-color: rgb(18, 203, 77);
    color: white;
    padding: 3px;
}
input{
    margin-top: 5px;
    margin-bottom: 15px;
}
.addq label, button{
    display: block;
}
.cards, .addq{
    background-color: rgba(255, 255, 255, 0.814);
    border-radius: 5px;
}
.cardd{
    width: 400px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: black;
}
.cards{
    width: 500px;
    padding: 20px;
}
.del{
    border: none;
    background-color: rgba(255, 37, 37, 0.71);
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 15px;
    color: white;
}